{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/styles_authentication.css' %}">
  <div class="container">
    <h2 class="text-center my-4">Sign Up</h2>
    <img id="avatar-preview" src="#" alt="Image preview" style="display:none; max-width: 100px; max-height: 100px; margin-left: 10px;">
    <form method="post" class="w-50 mx-auto signup-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary signup-button">Sign Up</button>
    </form>
  </div>
{% endblock %}
