{% extends 'base.html' %}

{% block content %}
    <h2>Send transaction</h2>
    {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="receiver_address">Receiver address</label>
            <input type="text" class="form-control" name="receiver_address" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount (in cryptocurrency)</label>
            <input type="number" class="form-control" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}
